## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(101), 80)
print (sample_list_1)

[23, 0, 48, 81, 20, 72, 93, 6, 76, 42, 83, 92, 49, 99, 15, 19, 4, 52, 26, 75, 5, 40, 85, 58, 82, 39, 31, 24, 53, 51, 2, 32, 16, 29, 90, 7, 9, 37, 66, 36, 47, 64, 14, 3, 17, 22, 91, 60, 35, 10, 21, 77, 61, 25, 63, 94, 13, 95, 98, 27, 68, 34, 54, 46, 69, 100, 8, 84, 44, 73, 1, 56, 33, 87, 80, 71, 97, 12, 11, 89]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 = set(sample_list_1)# Your code here
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [14]:
sample_list_2 = []

for _ in range(80):
    rand_num = random.randint(0, 100)
    sample_list_2.append(rand_num)
print(sample_list_2)

[26, 69, 4, 74, 56, 37, 28, 66, 68, 38, 72, 98, 25, 71, 15, 13, 55, 89, 51, 52, 91, 41, 5, 83, 94, 24, 30, 90, 4, 55, 82, 92, 10, 78, 18, 6, 13, 33, 59, 36, 79, 12, 8, 2, 73, 36, 6, 39, 95, 30, 87, 64, 75, 39, 95, 30, 1, 24, 63, 6, 54, 29, 11, 22, 10, 11, 74, 14, 24, 99, 41, 45, 7, 86, 21, 26, 68, 32, 9, 79]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [15]:
set2 = set(sample_list_2)
print(set2)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 21, 22, 24, 25, 26, 28, 29, 30, 32, 33, 36, 37, 38, 39, 41, 45, 51, 52, 54, 55, 56, 59, 63, 64, 66, 68, 69, 71, 72, 73, 74, 75, 78, 79, 82, 83, 86, 87, 89, 90, 91, 92, 94, 95, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
set3 = set(e for e in set1 if e not in set2)
print(set3)

{0, 3, 16, 17, 19, 20, 23, 27, 31, 34, 35, 40, 42, 44, 46, 47, 48, 49, 53, 58, 60, 61, 76, 77, 80, 81, 84, 85, 93, 97, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
set4 = set(e for e in set2 if e not in set1)
print(set4)

{38, 41, 74, 45, 78, 79, 18, 86, 55, 59, 28, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [18]:
set5 = set1 & set2
print(set5)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 21, 22, 24, 25, 26, 29, 32, 33, 36, 37, 39, 51, 52, 54, 56, 63, 64, 66, 68, 69, 71, 72, 73, 75, 82, 83, 87, 89, 90, 91, 92, 94, 95, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [19]:
import math 
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set5))

80
61
31
49

#### Create an empty set called `set6`.

In [22]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [23]:
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 44, 46, 47, 48, 49, 51, 52, 53, 54, 56, 58, 60, 61, 63, 64, 66, 68, 69, 71, 72, 73, 75, 76, 77, 80, 81, 82, 83, 84, 85, 87, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [25]:
print(len(set1))
print(len(set6))

80
80

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [27]:
set2.issubset(set1)
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [28]:
set3.union(set4, set5)
set3.union(set4, set5, set1, set2)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 44,
 45,
 46,
 47,
 48,
 49,
 51,
 52,
 53,
 54,
 55,
 56,
 58,
 59,
 60,
 61,
 63,
 64,
 66,
 68,
 69,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97,
 98,
 99,
 100}

#### Using the `pop` method, remove the first element from `set1`.

In [38]:
set1.pop()
print(set1)

{4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 42, 44, 46, 47, 48, 49, 51, 52, 53, 54, 56, 58, 60, 61, 63, 64, 66, 68, 69, 71, 72, 73, 75, 76, 77, 80, 81, 82, 83, 84, 85, 87, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [45]:
# Your code here
set1.difference_update(list_to_remove)
print(set1)

{4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 32, 33, 34, 35, 36, 37, 40, 42, 44, 46, 47, 48, 52, 53, 54, 56, 58, 60, 63, 64, 66, 68, 72, 73, 75, 76, 77, 80, 82, 83, 84, 85, 87, 90, 92, 93, 94, 95, 97, 98, 100}